body {
  background-color: #faedcd;
}

h1 {
  font-family:'Noto Sans KR', sans-serif;
  font-size: 35px;
  color: rgb(87, 95, 125);
}

h2 {

  font-family:'Barlow', sans-serif;
  font-size: 24px;
  color: #4E4E4E;
}

p {
  font-family:'Barlow', sans-serif;
  font-size: 20px;
  color: rgb(87, 95, 125);
}

.avatar {
  border-radius: 50%;
  box-shadow:2px 2px 15px  #4E4E4E;
}

i.fas,
i.fab {
  font-size: 48px;
  color: rgb(87, 95, 125);
  padding: 16px;
}

.fa-instagram:hover,
.fa-gem:hover,
.fa-wordpress:hover,
.fa-github:hover {
  color: chocolate;
}


.container {
  width: 800px;
  margin: 0 auto;
}

.card {
  background-color: rgb(253, 246, 227);
  text-align: center;
  box-shadow :1px 1px 8px  #4E4E4E;
  border-radius: 6px;
  margin: 20px auto;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px)  {
  .container {
    width: 300px;
  }
} 

